<div class="hero">
    <br />
    <div class="frosty col-10 offset-1">
        <h1>Learn How to Treat Any City Like Your Own</h1>
        <br />
        <h2>Fit in anywhere you go.</h2>
        <br />
        <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
        <br /><br />
    </div>
</div>